@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?-4vpicd');
	src:url('fonts/icomoon/icomoon.eot?#iefix-4vpicd') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-4vpicd') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-4vpicd') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-4vpicd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-home3:before {
	content: "\e602";
}
.icon-newspaper:before {
	content: "\e603";
}
.icon-quill:before {
	content: "\e604";
}
.icon-cart:before {
	content: "\e605";
}
.icon-envelope:before {
	content: "\e606";
}
.icon-users:before {
	content: "\e607";
}
.icon-wrench:before {
	content: "\e608";
}
.icon-cog:before {
	content: "\e609";
}
.icon-hammer:before {
	content: "\e60a";
}
.icon-wand:before {
	content: "\e60b";
}
.icon-info:before {
	content: "\e60c";
}
.icon-info2:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e60e";
}
.icon-facebook:before {
	content: "\e60f";
}
.icon-twitter:before {
	content: "\e610";
}

@import 'http://codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
 
 
}
.social-btns .btn:before {
  top: 90%;
  left: -100%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(1.0);
          transform: scale(1.0);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 50px;
  margin: auto;
  font-size: 0;
  text-align: center;
  overflow: auto;
  flex: 1 1 auto; 
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 30px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  -webkit-box-shadow: 0 3px 11px -5px rgba(0,0,0,0.3);
          box-shadow: 0 3px 11px -5px rgba(0,0,0,0.3);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 30px;
  vertical-align: middle;
}

