/* Default tab style */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400, 500, 700);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-4vpicd');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-4vpicd') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-4vpicd') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-4vpicd') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-4vpicd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1100px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	font-weight: 400;
	font-size: 1.55em;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #		;
}

.tabs nav a:focus {
	outline: hidden;
}

/* Icons */
.icon::before {
	position: relative;
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.2em;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ICONS */

.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-home3:before {
	content: "\e602";
}
.icon-newspaper:before {
	content: "\e603";
}
.icon-quill:before {
	content: "\e604";
}
.icon-cart:before {
	content: "\e605";
}
.icon-envelope:before {
	content: "\e606";
}
.icon-users:before {
	content: "\e607";
}
.icon-wrench:before {
	content: "\e608";
}
.icon-cog:before {
	content: "\e609";
}
.icon-hammer:before {
	content: "\e60a";
}
.icon-wand:before {
	content: "\e60b";
}
.icon-info:before {
	content: "\e60c";
}
.icon-info2:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e60e";
}
.icon-facebook:before {
	content: "\e60f";
}
.icon-twitter:before {
	content: "\e610";
}



/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}
/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}